<% include ./partials/header.ejs %>

    <h2>About Me</h2>
    <img src="/images/IMG_4187.JPG" alt="It's me!" style="width: 200px;    image-orientation: from-image; float: right;">
    <p>
        My name is Thomas Draxler. I'm currently an English teacher in Vietnam.
        In the near future, I hope to be working as a full stack developer for web applications.
        This website is a way for me to practice different design and programming techniques.
        In my free time, I enjoy picking up new skills, cooking, going for a hike, and improving my Vietnamese.
    </p>
    </br>
    <h2>Raspberry Pi 3</h2>
    <p>
        The Raspberry Pi is a small single-board computer (SBC) that has many applications in areas such as
        robotics, gaming, education, and more. I bought one at the end of 2016. Before this website, I just used
        it for playing old games or watching movies, but now I'm trying to take advantage of more of its capabilities.
        It turns out, it can work as a little web server!
    </p>
    </br>
    <h2>Other Technology</h2>
    <p>This website is running on Node.js</p>

<% include ./partials/footer.ejs %>