<% include partials/header.ejs %>

<h1 class="bigtitle">New Post</h1>
<a class="button grey" href="/">Home</a>
<span class="line-break"></span>
<div class="container">
    <form action="/blogs" method="POST">
        Title:
        <input type="text" class="smallfield"name="title" required>
        <br>
        Author:
        <input type="text" class="smallfield" name="author" required>
        <br>
        Image URL:
        <input type="text" class="smallfield" name="image" required>
        <br>
        Text:
        <textarea class="biggerform" name="bodytext" required></textarea>
        <button class="button">Submit</a>     
    </form>


</div>


<% include partials/footer.ejs %>