<% include partials/header.ejs %>

<h1 class="bigtitle">New Post</h1>
<a class="button grey" href="/">Home</a>
<span class="line-break"></span>
<div class="container">
    <form>
        Title:
        <input type="text" class="smallfield"name="title">
        <br>
        Author:
        <input type="text" class="smallfield"name="author">
        <br>
        Text:
        <textarea class="biggerform" name="body"></textarea>
        <button class="button">Submit</a>     
    </form>


</div>


<% include partials/footer.ejs %>