body {
    font-family: 'Rubik', sans-serif;
    color: #333333;
    margin: 0;
    font-size: 100%;
    background-color:#EEFFEE;
}


li {
    float: left;
    text-align: center;
    font-size: 0.8em;
    /*padding: 10px 20px;*/
    display: flex;
    padding: 0px 10px;
    align-items: center;
    height: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

li:hover {
    background-color: #777777;
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

input.smallfield {
    border: 1px solid #999;
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: block;
    font-size: 1em;
}

.biggerform {
    margin: 5px;
    border: 1px solid #999;
    width: 100%;
    display: block;
    padding: 5px;
    height: 200px;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
}

.smallfield:hover, .biggerform:hover {
    border: 1px solid #555;   
}


img {
    border: 1px solid #BBB;
    padding: 5px;
    box-shadow: 1px 1px 2px #DDD;
    margin: 10px;
    max-width: 90%;
}

img.thumbnail {
    display: block;
    width: 25%;
    margin: 35px 10px 10px 10px;
    float: left;
}

img.bigger-image {
    display: block;
    width: 70%;
    margin: 10px auto;
    float: top;
}

span.line-break {
    width: 90%;
    border-top: 1px solid #BBB;
    margin: 20px auto;
    display: block;
}

.button {
    padding: 0px 10px;
    align-items: center;

    border: none;
    height: 40px;
    background-color: #33BB88;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 0.95em;
    margin: 5px;
    line-height: 100%;
}

button.button {
    font-weight: 700;
}

.button:hover {
    background-color: #22AA77;    
}

.button:active {
    background-color: #119966;       
}

.button.grey {
    background-color: #CCC;
    color: #667;
}

.button.grey:hover {
    background-color: #BBB;    
}
.button.grey:active {
    background-color: #AAA;    
}



.container {
    margin: 0 20%;
    padding: 20px;
    background-color: white;
    border: 1px solid #CCC;
}

.container.comments {
    margin: 0 25%;
    padding: 20px;
    background-color: white;
    border: none;
    background-color:#EEFFEE;
}

.container.navbar {
    padding: 0;
    margin: 0 auto;
    width: 60%;
    background-color: inherit;
    border: inherit;
}

.navbar {
    display: block;
    background-color: #333333;
    color: #EEEEFF;
    height: 38px;
    width: 100%;
    position: top;
}

.navitem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: inherit;
}

.navleft {
    float: left;
}

.navright {
    float: right;
}

.post-space {
    border: 1px solid #DDD;
    width: 80%;
    height: 250px;
    margin: 10px auto;
    display: block;
    box-shadow: 1px 1px 2px #DDD;
}

.post-space-b {
    border: 1px solid #DDD;
    width: 90%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    box-shadow: 1px 1px 2px #DDD;
}


.description {
    float: right;
    width: 65%;
    margin: 10px 20px 10px 10px;
}

.bigtitle {
    padding: 30px 40px;
    background-color: #DDFFDD;
    font-size: 300%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #DDD;
}

.footer {
    font-size: 0.8em;
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}

.title {
    text-align: left;
    font-size: 1.7em;
    font-weight: 600;
    line-height: 2em;
}
.title:hover {
    color: #378;
}

.author {
    font-style: italic;
    color: #777;
    font-size: 0.8em; 
    float: left;
}

.date {
    float: right;
    color: #777;
    font-size: 0.8em; 
}

.comments.header {
    font-style: italic;
    font-size: 0.9em;
    color: #354;
    text-align: right;
    display: inline-block;
}

